.container {
    background-color: #D9D9D9;
    border-radius: 12px;

    /* Make container fully fill parent grid cell */
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* keep title on top */
    overflow: hidden; /* prevent children from overflowing */

    position: relative; /* for absolute positioning of image */
}

.attached-container{
    background-color: #D9D9D9;
    border-radius: 12px;
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px;

    /* Make container fully fill parent grid cell */
    width: 100%;
    height: 100%;
    align-self: center;

    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* keep title on top */
    overflow: hidden; /* prevent children from overflowing */

    position: relative; /* for absolute positioning of image */
}

.frame{
    background-color: white;
    border: 2px solid black;

    /* Make container fully fill parent grid cell */
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* keep title on top */
    overflow: hidden; /* prevent children from overflowing */

    position: relative; /* for absolute positioning of image */
}


.button {
    background-color: #5A1C74;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.grid {
    display: grid;
    height: calc(100vh - 110px);
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-nest {
    display: grid;
    overflow: hidden;
    width: 100%;
}

.grid-item {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
    padding: 0.5rem;
}

/* Heading stays on top */
.heading {
    position: relative;   /* keep it in normal flow */
    z-index: 1;           /* above image */
    margin: 0;
    padding: 10px;
    color: black;         
}

/* MJPEG stream MUST be explicitly sized */
.video-img {
    position: absolute;
    inset: 0;                 /* top:0 left:0 right:0 bottom:0 */
    width: 100%;
    height: 100%;
    object-fit: contain;      /* keeps aspect ratio */
    z-index: 0;
    display: block;           /* important for MJPEG */
    outline: red solid 2px;
}


:root {
    --color-light-gray: #D9D9D9;
    --color-rtpurple: #5A1C74;
}